In [1]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [2]:
# Exercise 3 - Create a markdown cell for an introduction

## In this notebook, Data Science Tools and Ecosystem are summarized.

In [3]:
# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
- List popular languages for Data Science
- List poplar libraries for Data Science
- List Data Science tools
- Learn to code simple arithmetic problems

In [4]:
# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

In [5]:
# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Ggplot2
2. Dplyr
3. Caret

In [6]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|---------|
|Jupyter Notebooks|
|R Studio|
|Apache Hadoop|

In [7]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# Exercise 8 - Create a code cell to multiply and add numbers
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# Exercise 9 - Create a code cell to convert minutes to hours
# This will convert 200 minutes to hours by diving by 60 and round to two decimals
h=round(200/60,2)
print(h, "hours")

3.33 hours

In [10]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Adrian Mora